@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

@font-face {
    font-family: 'Satoshi';
    src: url(Satoshi-Variable.woff2);
}


:root {
    --stdMargin: 6rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
}

#landingPage {
    margin: 0 var(--stdMargin);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
    background-image: url();

}

.bg {
    width: 100%;
    min-height: 100vh;
    background-image: url(Taj-Rambagh-PalaceExterior\ -\ Copy.jpg);
    background-size: cover;
    position: relative;

}




#home {
    position: absolute;
    width: 85px;
    height: 29px;
    left: 650px;
    top: 42px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    z-index: 1;
}

#fac {
    position: absolute;
    width: 50px;
    height: 29px;
    left: 800px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    z-index: 1;
}

#book {
    position: absolute;
    width: 126px;
    height: 29px;
    left: 1000px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    z-index: 1;

}

#rect1 {
    position: absolute;
    width: 1535px;
    height: 113px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    opacity: 0.75;


}

#rect2 {
    position: absolute;
    width: 1000px;
    height: 100px;
    left: 250px;
    top: 600px;

    background: #8E744B;
    z-index: 1;
}

#contact {
    position: absolute;
    width: 200px;
    height: 29px;
    left: 1200px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    z-index: 1;


}

#pl {
    position: absolute;
    width: 103px;
    height: 39px;
    left: 270px;
    top: 615px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    /* identical to box height */
    z-index: 3;


    color: #FFFFFF;
}

#chi {
    position: absolute;
    width: 152px;
    height: 39px;
    left: 410px;
    top: 615px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    /* identical to box height */

    z-index: 3;
    color: #FFFFFF;

}

#cho {
    position: absolute;
    width: 188px;
    height: 39px;
    left: 590px;
    top: 615px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    /* identical to box height */
    z-index: 3;


    color: #FFFFFF;


}

#rm {
    position: absolute;
    width: 188px;
    height: 39px;
    left: 770px;
    top: 615px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    /* identical to box height */
    z-index: 3;


    color: #FFFFFF;

}

#gs {
    position: absolute;
    width: 188px;
    height: 39px;
    left: 900px;
    top: 615px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    /* identical to box height */
    z-index: 3;


    color: #FFFFFF;


}

#rect3 {
    position: absolute;
    width: 200px;
    height: 70px;
    left: 1030px;

    top: 615px;
    z-index: 3;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;


    background: #72003D;
    mix-blend-mode: normal;
    border-color: #72003D;
}

#loc {
    z-index: 3;

    position: absolute;

    left: 270px;
    top: 650px;
}

#in {
    z-index: 3;
    position: absolute;

    left: 410px;
    top: 650px;
}

#out {
    z-index: 3;
    position: absolute;

    left: 590px;
    top: 650px;
}

#room {
    z-index: 3;
    position: absolute;

    left: 770px;
    top: 650px;
}

#gst {
    z-index: 3;
    position: absolute;

    left: 900px;
    top: 655px;
}

#srch {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 1000px;
    top: 40px;

    background: url(srch.png);

}

#search {
    position: relative;
    right: -1270px;
    top: 40px;
    width: 135px;
    height: 30px;


    font: size 20px;
    background: #72003D;
    border-radius: 25px;
    border-color: #72003D;
    color: white;
    z-index: 1;
}

#inf {
    position: absolute;
    width: 99px;
    height: 34px;
    left: 300px;
    top: 650px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;

    color: #4F3F26;
    z-index: 5;
}

#logo {
    position: absolute;
    width: 102px;
    height: 80px;
    left: 14px;
    top: 2px;
    opacity: 200;
    z-index: 1;
    padding-top: 2px;

}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width: 100%;
    height: 100%;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3 {
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}

.container .heading h3 span {
    font-weight: 100;
}

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .destination {
    display: flex;
    flex-direction: column;
    width: 32.5%;

}

.container .box .destination img {
    width: 100%;
    border-radius: 5px;
    border: 8px solid #8E744B;


}

.container {
    margin: 40px 0 70px 0;

    padding: 15px 40px;
    border-radius: 5px;
}

.container {

    font-weight: bolder;
    letter-spacing: 3px;
}

@media only screen and (max-width: 769px) {
    .container .box {
        flex-direction: column;
    }

    .container .box .destination {
        width: 100%;

    }


}


@media only screen and (max-width: 643px) {
    .container .heading {
        width: 100%;
    }

    .container .heading h3 {
        font-size: 1em;

    }
}

#destination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.destination {
    position: relative;
}

.text0 {
    position: absolute;
    top: 60%;
    left: 3%;
    color: #FFFFFF;
    padding: 10px;
}

.text0 h4 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}

.text1 {
    position: absolute;
    bottom: 2%;
    left: 3%;
    color: #FFFFFF;
    padding: 10px;
}

.text1 h4 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}

.text2 {
    position: absolute;
    top: 26.8%;
    left: 3%;
    color: #FFFFFF;
    padding: 10px;
}

.text2 h4 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}

.text3 {
    position: absolute;
    bottom: 2%;
    left: 3%;
    color: #FFFFFF;
    padding: 10px;
}

.text3 h4 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}

.text4 {
    position: absolute;
    top: 27%;
    left: 3%;
    color: #FFFFFF;
    padding: 10px;
}

.text4 h4 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}

.text5 {
    position: absolute;
    bottom: 2.5%;
    left: 3%;
    color: #FFFFFF;
    padding: 10px;
}

.text5 h4 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Our Ancillary services */

#services {
    padding: 5% 10%;
}

#services h1 {
    margin-bottom: 4rem;
}

.imgAndCaption {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.imgAndCaption img {
    width: 16%;
}

.imgAndCaption h2 {
    font-size: 1.5rem;
    margin-left: 15px;
}

.box {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.177);
    padding: 25px;
    border-radius: 30px;
    border: 4px solid #8E744B;
    box-shadow: 5px 12px #0000003d;
}

.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 4rem;
    column-gap: 3rem;
}

/* Testimonals */
* {
    box-sizing: border-box;
}

#userphoto {
    padding: 50px 60px 50px 30px;
    width: 35%;
    height: 35%;

}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    box-shadow: 0 5px 10px #3337;
    background-color: #D9D9D9;
    z-index: 1;
}

.mySlides {
    display: none;
}

.prev, 
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.name {
    text-align: left;
    font-size: 20px;
    position: absolute;
    left: 460px;
    top: 300px;
    z-index: -1;
}

.date {
    text-align: left;
    font-size: 22px;
    position: absolute;
    left: 460px;
    top: 80px;
    z-index: -1;
}

.text {
  color: #000;
  font-size: 20px;
  position: absolute;
  left: 450px;
  top: 50px;
  width: 50%;
  text-align: left;
  padding-top: 100px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

#photorect {
    position: absolute;
    width: 230px;
    height: 378px;
    left: 0px;
    z-index: -1;

    background: #8E744B;
}

#clickrectleft {
    position: absolute;
    left: -20px;
    top: 170px;
}

#clickrectright {
    position: absolute;
    right: -280px;
    top: 170px;
}

#star1 {
    position: absolute;
    left: 650px;
    top: 70px;
}

#star2 {
    position: absolute;
    left: 690px;
    top: 70px;
}

#star3 {
    position: absolute;
    left: 730px;
    top: 70px;
}

#star4 {
    position: absolute;
    left: 770px;
    top: 70px;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.count {
    font-size: 50px;
    padding-left: 50px;
    text-align: center;
}

.fields {
    font-size: 50px;
    padding-left: 50px;
    text-align: center;
}

/* Testimonials */
.ftr img {
  width: 100%;
  height: 80%;
}

#rect6 {
position: absolute;
width: 100%;
height: 83.5%;
left: 0px;
top: 3600px;
background: #161515;
opacity: 0.8;
}

#th {
  position: absolute;
width: 287px;
height: 58px;
left: 87px;
top: 3800px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 40px;
line-height: 58px;
text-align: center;
color: #dddcdc;
}
#pmail {
  position: absolute;
  width: 221px;
  height: 54px;
  left: 90px;
  top: 4000px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style:normal;
  font-weight: 100;
  font-size: 26px;
  color:#dddcdc;
  
}
#pmain {
  position: absolute;
width: 411px;
height: 78px;
left: 115px;
top: 4030px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: normal;
font-size: 14px;
line-height: 39px;
color: #dddcdc;
}

#pmainn {
  position: absolute;
width: 411px;
height: 78px;
left: 84px;
top: 4049px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: normal;
font-size: 14px;
line-height: 39px;
color:#dddcdc;
}
#reach {
  position: absolute;
width: 196px;
height: 54px;
left: 460px;
top: 4000px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 200;
font-size: 26px;
color: #dddcdc;
}
#ru {
  position: absolute;
width: 410px;
height: 195px;
left: 312px;
top: 4030px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-size: 14px;
line-height: 39px;
color: #dddcdc;
}
#ruu {
  position: absolute;
width: 410px;
height: 195px;
left: 400px;
top: 4049px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 200;
font-size: 14px;
line-height: 39px;
color: #dddcdc;
}

#hr {
  position: absolute;
width: 254px;
height: 44px;
left: 765px;
top: 4000px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 200;
font-size: 26px;
color: #dddcdc;
}
#hrb {
  position: absolute;
width: 353px;
height: 78px;
left: 780px;
top: 4030px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 200;
font-size: 14px;
line-height: 39px;
color:#dddcdc;
}
#hrb2 {
position: absolute;
width: 353px;
height: 78px;
left: 780px;
top: 4049px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 200;
font-size: 14px;
line-height: 39px;
color: #dddcdc;
}
#sub {
  position: absolute;
width: 630px;
height: 44px;
left: 1030px;
top: 4000px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 200;
font-size: 26px;
color: #dddcdc;
}

#Search2{
  position: absolute;
width: 240px;
height: 40px;
left: 1030px;
top: 4049px;
background: #D9D9D9;
mix-blend-mode: lighten;
opacity: 0.5;
text-align: left;
}
#subsc {
  position: absolute;
width: 152px;
height: 37px;
left: 1270px;
top: 4050.5px;
background: #8E744B;
color: #72003D;
text-align:center;
font-size: 20px;
line-height: 38px;
}

#rect7 {
    position: absolute;
width: 315px;
height: 55px;
left: 837px;
top: 3825px;

background: #8E744B;
}
#contactweb {
    position: absolute;
width: 45px;
height: 45px;
left: 850px;
top: 3829px;
}
#message {
    position: absolute;
width: 45px;
height: 45px;
left: 912.5px;
top: 3829px;
}
#twitter {
    position: absolute;
width: 45px;
height: 45px;
left: 975px;
top: 3829px;
}
#fb {
    position: absolute;
width: 45px;
height: 45px;
left: 1030px;
top: 3829px;
}
#ig {
    position: absolute;
width: 45px;
height: 45px;
left: 1092px;
top: 3829px;
}